<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="favicon.png">
		<title>Waitstaff Calculator</title>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="js/respond.js"></script>
		<script>
	    // Picture element HTML5 shiv
	    document.createElement( "picture" );
	    </script>
		<![endif]-->
		<link rel="stylesheet" href="css/styles.css" type="text/css">
	</head>
	<body ng-app="myApp" ng-controller="CalculatorCtrl">
		<header class="main-header">
			<div class="content-width">
				<h1>Waitstaff Calculator</h1>
				<nav class="nav">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">New Meal</a></li>
						<li><a href="#">My Earnings</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main class="main-content">
			<div class="content-width">
				<div ng-view>

				</div>
				<div class="col col-left">
					<div class="block">
						<header class="block-header">
							<h2>Enter the meal details</h2>
						</header>
						<div class="block-content">
							<form name="mealForm" ng-submit="submitMeal(data)" novalidate>
								<div class="form-item">
									<label>Base meal price: $</label>
									<input type="number" name="basePrice" ng-model="data.basePrice" required>
								</div>
								<div class="form-item">
									<label>Tax rate: %</label>
									<input type="number" name="taxRate" ng-model="data.taxRate" required>
								</div>
								<div class="form-item">
									<label>Tip percentage: %</label>
									<input type="number" name="tipPercentage" ng-model="data.tipPercentage" required>
								</div>
								<div class="form-buttons">
									<input type="submit" class="btn btn-submit" value="submit">
									<button type="button" class="btn btn-cancel" ng-click="cancel()">cancel</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col col-right">
					<div class="block customer-charges">
						<header class="block-header">
							<h2>Customer Charges</h2>
						</header>
						<div class="block-content">
							<span class="label">Subtotal:</span> <strong ng-bind="latestCustomer.subTotal | currency"></strong><br>
							<span class="label">Tip:</span> <strong ng-bind="latestCustomer.tip | currency"></strong>
							<div class="total">
								<span class="label">Total:</span> <strong ng-bind="latestCustomer.total | currency"></strong>
							</div>
						</div>
					</div>
					<div class="block">
						<header class="block-header">
							<h2>My Earnings Info</h2>
						</header>
						<div class="block-content">
							<span class="label">Tip Total:</span> <strong ng-bind="calculateTipTotal() | currency"></strong><br>
							<span class="label">Meal Count:</span> <strong ng-bind="meals.length | number"></strong><br>
							<span class="label">Average Tip Per Meal:</span> <strong ng-bind=" calculateTipAverage() | currency"></strong>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer">
			<div class="content-width">
				<button class="btn btn-reset" ng-click="reset()">reset</button>
			</div>
		</footer>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>