/* buttons */
.btn {
	padding: 8px 20px;
	font-size: 18px;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0px;
	display: inline-block;
	color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-reset {
	background-color: #d70026;
}

.btn-cancel {

}

.btn-submit {
  background-color: #e69900;
}