/* forms */
.form-item {
	margin-bottom: 12px;
}

.form-buttons {
	text-align: center;
  margin-top: 25px;
}

label {
	width: 50%;
	display: inline-block;
	text-align: right;
}

input[type=number],input[type=text],input[type=tel],input[type=password] {
	background-color: #fff;
	padding: 8px 15px;
	font-size: 16px;
	border: none;
	-moz-transition: all 250ms ease-out;
	-webkit-transition: all 250ms ease-out;
	transition: all 250ms ease-out;

	&:focus {
		outline: none;
		-webkit-box-shadow: inset 10px 0px 0px 0px #00594d;
		-moz-box-shadow: inset 10px 0px 0px 0px #00594d;
		box-shadow: inset 10px 0px 0px 0px #00594d;
	}
}

/* validation */
.ng-submitted {
	.ng-invalid {
		-webkit-box-shadow: inset 10px 0px 0px 0px #d70026;
		-moz-box-shadow: inset 10px 0px 0px 0px #d70026;
		box-shadow: inset 10px 0px 0px 0px #d70026;
		color: #d70026;
		background-color: #ffecec;

		&:focus {
			-webkit-box-shadow: inset 10px 0px 0px 0px #d70026;
			-moz-box-shadow: inset 10px 0px 0px 0px #d70026;
			box-shadow: inset 10px 0px 0px 0px #d70026;
		}
	}
}